name: 'CI/CD axoo-track - Terraform'

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  deploy-terraform:
    name: 'Vérification et Déploiement Infrastructure'
    runs-on: self-hosted
    defaults:
      run:
        working-directory: terraform

    steps:
    - name: Checkout du code
      uses: actions/checkout@v4

    - name: Installation de Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init

    - name: Terraform Format
      run: terraform fmt -check

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan
      env:
        TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
        TF_VAR_jwt_secret: ${{ secrets.JWT_SECRET }}
        TF_VAR_dynatrace_token: ${{ secrets.DYNATRACE_TOKEN }}

    - name: Terraform Apply
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: terraform apply -auto-approve
      env:
        TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
        TF_VAR_jwt_secret: ${{ secrets.JWT_SECRET }}
        TF_VAR_dynatrace_token: ${{ secrets.DYNATRACE_TOKEN }}
